/* imported fonts from google */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* navbar sectin styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.35rem 15rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.nav-logo {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-logo span {
  color: #ff42a5;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.05rem 1.5rem;
}

/* banner seciton styles */

.banner {
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
}

.banner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: url("../images/Group-14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-right {
  width: 50%;
  /* margin-right: 15rem; */
}

.banner-right img {
  width: 75%;
  vertical-align: bottom;
}

.banner-intro {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-title {
  font-size: 5.9375rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1.5rem;
}

.banner-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.06rem;
}

.banner-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.banner-btn {
  padding-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}

.btn-primary {
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  padding: 1.3rem 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-blue {
  border-radius: 3rem;
  background: #4ec5f7;
  border: none;
  padding: 1.3rem 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* gamer section styles */

.gamer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 15rem;
  gap: 3.25rem;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-right {
  text-align: right;
  width: 50%;
}
.gamer-left {
  width: 50%;
}

.gamer-left img {
  width: 100%;
  display: flex;
  justify-content: start;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-text,
.purpose {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  padding-bottom: 2.3rem;
  padding-top: 1.5rem;
}

.purpose span {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.8125rem;
}

/* funny video section styles */

.section-title-black {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}

.funny {
  text-align: center;
  padding: 7rem 15rem;
}

.video-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.video-card {
  max-width: 21.375rem;
  height: 30.25rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.video-card img {
  border: 3px solid transparent;
  border-radius: 20px;
}

.video-card img:hover {
  border: 3px solid #f948b2;
  border-radius: 20px;
}

.overlay {
  top: 50%;
  left: 50%;
  background-color: darkblue;
}

/* responsive styles */

/* small devices */

@media screen and (max-width: 576px) {
  nav {
    box-shadow: none;
    flex-direction: column;
    padding: 0;
    gap: 2.85rem;
    margin-top: 3rem;
    justify-content: center;
  }

  .nav-left {
    scale: 0.7;
  }

  .nav-menu {
    flex-direction: column;
    gap: 1.5 rem;
  }

  .banner {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .banner-right {
    width: 100%;
  }

  .banner-right img {
    width: 100%;
  }
  .banner-left {
    width: 100%;
    padding: 4rem;
    scale: 0.8;
    margin-top: -35px;
  }
  .banner-title {
    scale: 0.8;
    line-height: normal;
  }
  .banner-intro {
    font-size: 2rem;
    line-height: normal;
  }

  .btn-primary,
  .btn-blue {
    padding: 1rem;
  }

  .gamer {
    background: none;
    flex-direction: column;
    padding: 0;
    gap: 0;
    text-align: center;
  }

  .gamer-left,
  .gamer-right {
    width: 100%;
    text-align: center;
  }

  .gamer-right {
    scale: 0.7;
    margin-top: -2rem;
  }

  .funny {
    padding: 1.5rem;
  }

  .video-card-container {
    flex-direction: column;
    gap: 1rem;
  }

  .video-card {
    text-align: center;
  }
}

/* medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    padding: 0.2rem;
    scale: 0.8;
    box-shadow: none;
    justify-content: space-between;
    gap: 4rem;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0;
  }

  .banner-right {
    width: 100%;
  }

  .banner-left {
    width: 100%;
    padding: 2rem 0;
    scale: 0.8;
    margin-top: -1rem;
  }

  .gamer {
    flex-direction: column;
    padding: 0;
    gap: 0;
    background: none;
    padding: 4rem;
    margin-top: -4rem;
  }

  .gamer-left,
  .gamer-right {
    width: 100%;
    text-align: center;
  }

  .funny {
    padding: 0;
  }

  .video-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8rem;
    padding: 2rem;
  }
}
