/* imported fonts from google */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* navbar sectin styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.35rem 15rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.nav-logo {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-logo span {
  color: #ff42a5;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.05rem 1.5rem;
}

/* banner seciton styles */

.banner {
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
}

.banner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: url("../images/Group-14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-right {
  width: 50%;
  /* margin-right: 15rem; */
}

.banner-right img {
  width: 75%;
}

.banner-intro {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-title {
  font-size: 5.9375rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1.5rem;
}

.banner-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.06rem;
}

.banner-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.banner-btn {
  padding-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}

.btn-primary {
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  padding: 1.3rem 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-blue {
  border-radius: 3rem;
  background: #4ec5f7;
  border: none;
  padding: 1.3rem 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* responsive styles */

/* small devices */

@media screen and (max-width: 576px) {
  nav {
    box-shadow: none;
    flex-direction: column;
    padding: 0;
    gap: 2.85rem;
    margin-top: 3rem;
    justify-content: center;
  }

  .nav-left {
    scale: 0.7;
  }

  .nav-menu {
    flex-direction: column;
    gap: 1.5 rem;
  }

  .banner {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
    gap: 1.5rem;
    margin-top: 4.88rem;
  }
  .banner-right {
    width: 100%;
  }

  .banner-right img {
    width: 100%;
  }
  .banner-left {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }

  .banner-title {
    scale: 0.8;
    line-height: normal;
  }
  .banner-intro {
    font-size: 2rem;
    line-height: normal;
  }

  .btn-primary,
  .btn-blue {
    padding: 1rem;
  }
}

/* medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    padding: 0.2rem;
    scale: 0.8;
    box-shadow: none;
    justify-content: space-between;
    gap: 4rem;
  }
}
